In [1]:
import pickle

RelAccum = pickle.load(open('RelativeAccumulationRates.p','rb'),encoding='latin1')

In [2]:
import pandas as pd

RA_df = pd.DataFrame.from_dict(RelAccum)

In [3]:
RA_df

                    Y             X  Rel_Accum
0       528777.781768 -1.398809e+06   1.187202
1       528680.110062 -1.398800e+06   1.102423
2       528582.979629 -1.398791e+06   1.044514
3       528485.892412 -1.398782e+06   0.999329
4       528388.847405 -1.398773e+06   0.940046
...               ...           ...        ...
194673 -878503.012906 -1.505163e+06   1.191798
194674 -878590.339966 -1.505119e+06   1.176271
194675 -878677.647165 -1.505074e+06   1.184027
194676 -878764.940452 -1.505029e+06   1.220344
194677 -878852.255901 -1.504985e+06   1.222943

[194678 rows x 3 columns]